<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>com.xieyezi.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>regis</servlet-name>
        <servlet-class>com.xieyezi.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regis</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>message</servlet-name>
        <servlet-class>com.xieyezi.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>collect</servlet-name>
        <servlet-class>com.xieyezi.CollectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>collect</servlet-name>
        <url-pattern>/collect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cancel</servlet-name>
        <servlet-class>com.xieyezi.DeleteCollectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cancel</servlet-name>
        <url-pattern>/cancel</url-pattern>
    </servlet-mapping>
</web-app>