h1 {
	line-height: 140%;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	color: #1E2734;
}

p {
	margin-bottom: 1em;
	line-height: 30px;
	font-size: 18px;
	font-family: "Everleth";
	color: #000;
	display: block;
	font-style: normal;
	letter-spacing: 2px;
	font-weight: 300;
	margin-top: 25px;
}
#map{
	 height: 400px;
	 /*position:relative*/
	 width: 100%;
	 margin-top: 20px;
	 margin-bottom: 50px;
	 padding: 0px;
	 z-index: 1;
}

/*----------------------------------------------------
	About us Style
------------------------------------------------------*/
.aboutus{
	color: #6c7279;
	text-align:left;
}
.aboutus .container{
	padding-top:80px ;
	padding-bottom:47px ;
}
.aboutus img {
	padding:5px;
	display:block;
}
.aboutus p{
	line-height: 40px;
	color: #18294F;
	font-weight: 400;
	margin-top: 30px;
}
.heading{
	text-align:center;
	padding-bottom:70px;
}
.heading .container{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-right: 15px;
	padding-left: 15px;
}
.heading h2 {
	font-size:21px;
	line-height:40px;
	color:#6c7279;
	font-weight:400;
	margin-bottom:20px;
	letter-spacing:2px;
	display:inline-block;
	position:relative;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
	width: 99%;
	margin: auto;
	text-align: left;
	padding-top: 5%;
	padding-bottom: 7%;
}
.footer h4 {
	font-size: 13px;
	color: #000;
	margin: 0 0 15px 0;
	padding: 0px;
}
.footer p {
	font-size: 11px;
	color: #6c7279;
}
.footer a {
	color: #000;
}
.footer a:hover {
	text-decoration: underline;
}
.footer .footer-share {
	margin-top: 0;
}
.footer .footer-share li {
	display: inline-block;
	float: none;
}
.footer .footer-share a {
	border: none;
	font-size: 13px;
	color: #000;
	letter-spacing: 15px;
}
.footer .fa-heart {
	color: #e84545;
	font-size: 11px;
	margin: 0 2px;
}
.gototop{
	display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #746c75;
}