html,
body {
	background: white;
	padding: 0;
	margin: 0;
	font-family: "Everleth";
 	line-height:1.4;
	font-size: 14px;
	color: #cccccc;
}

.excerpt .focus {
	float: left;
	
}

.excerpt-1 {
	border-radius: 4px 4px 0 0;
}

.excerpt {
	border: 1px solid #eaeaea;
	padding: 20px 20px 20px 0px;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: -1px;
}

img{
	max-width: 100%;
	vertical-align:middle;
	border: 0;
}
.excerpt h2 a{
	color: #555;

}
.excerpt .note{
	/*font-size: 12px;*/
	color: #999;
	word-wrap: break-word;
	line-height: 20px;
}
.excerpt .thumb{
		width: 220px;
		height: 150px;
	}
/*p{*/
	/*margin:0 0 10px;*/
	/*-webkit-margin-before: 1em;*/
	/*-webkit-margin-after: 1em;*/
	/*-webkit-margin-start: 0;*/
	/*-webkit-margin-end: 0;*/
/*}*/
a{
	text-decoration: none;
	background: 0 0;
	color: #666;
}
a:hover{
	text-decoration: none;
}




@media (max-width: 480px) {
	/*body{*/
		/*width: 420px;*/
	/*}*/
	.excerpt{
		padding: 10px 10px 10px 0px;
	}
	
	.excerpt .note{
		display: none;	
	}
		.excerpt h2{
		font-size: 12px;
		line-height: 14px;
	}
}
@media (max-width: 640px) {
	.excerpt{
		padding: 10px 10px 10px 0px;
	}
	.excerpt .note{
		display: none;	
	}
	.excerpt .thumb{
		width: 160px;
		height:109px;
	}
	.excerpt h2{
		font-size: 16px;
		line-height: 18px;
	}
	
}
